---
# - modernize-pass-by-value has unclear advantages and decreases readability. It
# also triggers on non-standard library expensive types.
# - concurrency-mt-unsafe triggers even in a single-threaded program, and can be
#   addressed by mutexes/locks anyways.
# - google-explicit-constructor triggers in too many irrelevant cases, including
#   with program-defined types.
# - performance-faster-string-find will lead to so much pain if you add
#   characters and you forget to replace the single-quotes.
#   Also the gain is negligeable unless you're running it on a asphyxiated
#   vacuum-tube machine.
# - readability-implicit-bool-conversion triggers with C libraries.
# - readability-qualified-auto adds noise more often than not.
# - readability-redundant-member-init has bugs[1][2] and directly conflicts
#	with -Wmissing(-designated)-field-initializers, which even though has
# 	questionable semantics, is still of a massive importance to not forget
#   initializing new members.
#   [1]: https://github.com/llvm/llvm-project/issues/90235
#   [2]: https://github.com/llvm/llvm-project/issues/134440
Checks: "
  -*,
  bugprone-*,
  cert-dcl50-cpp,
  cert-dcl58-cpp,
  cert-err52-cpp,
  cert-err58-cpp,
  cert-err60-cpp,
  cert-mem57-cpp,
  cert-msc50-cpp,
  cert-msc51-cpp,
  cert-oop57-cpp,
  cert-oop58-cpp,
  clang-analyzer-alpha.core.*,
  clang-analyzer-alpha.cplusplus.*,
  clang-analyzer-core.*,
  clang-analyzer-cplusplus.*,
  clang-analyzer-deadcode.*,
  clang-analyzer-optin.core.*,
  clang-analyzer-optin.cplusplus.*,
  clang-analyzer-optin.performance.Padding,
  clang-analyzer-optin.taint.*,
  clang-analyzer-security.ArrayBound,
  clang-analyzer-unix.*,
  concurrency-*,
  cppcoreguidelines-avoid-capturing-lambda-coroutines,
  cppcoreguidelines-avoid-const-or-ref-data-members,
  cppcoreguidelines-avoid-do-while,
  cppcoreguidelines-avoid-goto,
  cppcoreguidelines-avoid-non-const-global-variables,
  cppcoreguidelines-avoid-reference-coroutine-parameters,
  cppcoreguidelines-init-variables,
  cppcoreguidelines-interfaces-global-init,
  cppcoreguidelines-macro-usage,
  cppcoreguidelines-misleading-capture-default-by-value,
  cppcoreguidelines-missing-std-forward,
  cppcoreguidelines-no-malloc,
  cppcoreguidelines-no-suspend-with-lock,
  cppcoreguidelines-owning-memory,
  cppcoreguidelines-prefer-member-initializer,
  cppcoreguidelines-pro-*,
  cppcoreguidelines-rvalue-reference-param-not-moved,
  cppcoreguidelines-slicing,
  cppcoreguidelines-special-member-functions,
  cppcoreguidelines-use-enum-class,
  cppcoreguidelines-virtual-class-destructor,
  google-*,
  -google-objc-*,
  -google-readability-*,
  google-readability-avoid-underscore-in-googletest-name,
  google-readability-casting,
  google-readability-todo,
  hicpp-exception-baseclass,
  hicpp-ignored-remove-result,
  hicpp-multiway-paths-covered,
  hicpp-no-assembler,
  hicpp-signed-bitwise,
  llvm-header-guard,
  llvm-include-order,
  llvm-namespace-comment,
  misc-*,
  modernize-*,
  performance-*,
  portability-*,
  readability-*,

  -cert-err58-cpp,
  -concurrency-mt-unsafe,
  -cppcoreguidelines-avoid-magic-numbers,
  -google-explicit-constructor,
  -hicpp-explicit-conversions,
  -misc-non-private-member-variables-in-classes,
  -modernize-pass-by-value,
  -performance-faster-string-find,
  -readability-identifier-length,
  -readability-implicit-bool-conversion,
  -readability-qualified-auto,
  -readability-redundant-member-init,
  "

# Based on Google's naming style.
# prettier-ignore
CheckOptions:
    - { key: readability-identifier-naming.NamespaceCase,             value: lower_case }
    - { key: readability-identifier-naming.ClassCase,                 value: CamelCase  }
    - { key: readability-identifier-naming.StructCase,                value: CamelCase  }
    - { key: readability-identifier-naming.TemplateParameterCase,     value: CamelCase  }
    - { key: readability-identifier-naming.FunctionCase,              value: CamelCase  }
    - { key: readability-identifier-naming.VariableCase,              value: lower_case }
    - { key: readability-identifier-naming.PrivateMemberSuffix,       value: _          }
    - { key: readability-identifier-naming.ProtectedMemberSuffix,     value: _          }
    - { key: readability-identifier-naming.MacroDefinitionCase,       value: UPPER_CASE }
    - { key: readability-identifier-naming.EnumConstantCase,          value: CamelCase  }
    - { key: readability-identifier-naming.EnumConstantPrefix,        value: k          }
    - { key: readability-identifier-naming.ConstexprVariableCase,     value: CamelCase  }
    - { key: readability-identifier-naming.ConstexprVariablePrefix,   value: k          }
    - { key: readability-identifier-naming.GlobalConstantCase,        value: CamelCase  }
    - { key: readability-identifier-naming.GlobalConstantPrefix,      value: k          }

    # Not present in Google style guide, but consistent.
    # Now of course we do avoid non-const global variables like the Plague.
    - { key: readability-identifier-naming.GlobalVariableCase,        value: CamelCase  }
    - { key: readability-identifier-naming.GlobalVariablePrefix,      value: g          }

    - { key: readability-identifier-naming.MemberConstantCase,        value: CamelCase  }
    - { key: readability-identifier-naming.MemberConstantPrefix,      value: k          }
    - { key: readability-identifier-naming.StaticConstantCase,        value: CamelCase  }
    - { key: readability-identifier-naming.StaticConstantPrefix,      value: k          }

    # Trivial getters (and even setters) should be allowed to have variable name
    # case (that is, "snake_case"). Otherwise, stick to "CamelCase".
    - { key: readability-identifier-naming.PublicMethodCase,      value: aNy_CasE   }
