# SPDX-FileCopyrightText: 2025 Sofian-Hedi Krazini <blackma9ick@proton.me>
# SPDX-License-Identifier: 0BSD

---
BasedOnStyle: Google
Language: Cpp

DerivePointerAlignment: false
PointerAlignment: Left
QualifierAlignment: Left

ShortNamespaceLines: 10

# Sort #includes like the LLVM Coding Standards.
IncludeBlocks: Regroup
IncludeCategories:
  # Main Module Header
  - Regex: '^"[^/]+\.h.*'
    Priority: 1

  # Local/Private Headers
  - Regex: '^".+/[^/]+\.h.*"'
    Priority: 2

  # System #includes
  - Regex: '^<.+\.h.*'
    Priority: 3
  # Guidelines Support Library (GSL)
  - Regex: "^<gsl/[[:alnum:].]+>"
    Priority: 3

  # Standard Library Headers
  - Regex: "^<[[:alnum:].]+>"
    Priority: 4
  - Regex: "^<string_view>$"
    Priority: 4
