# SPDX-FileCopyrightText: 2025 Sofian-Hedi Krazini <blackma9ick@proton.me>
# SPDX-License-Identifier: 0BSD

---
Checks: >
  -*,
  bugprone-*,
  cert-dcl50-cpp,
  cert-dcl58-cpp,
  cert-err52-cpp,
  cert-err58-cpp,
  cert-err60-cpp,
  cert-mem57-cpp,
  cert-msc50-cpp,
  cert-msc51-cpp,
  cert-oop57-cpp,
  cert-oop58-cpp,
  clang-analyzer-core.*,
  clang-analyzer-cplusplus.*,
  clang-analyzer-deadcode.*,
  clang-analyzer-optin.core.*,
  clang-analyzer-optin.cplusplus.*,
  clang-analyzer-optin.performance.Padding,
  clang-analyzer-optin.taint.*,
  clang-analyzer-security.ArrayBound,
  clang-analyzer-unix.*,
  concurrency-*,
  cppcoreguidelines-avoid-capturing-lambda-coroutines,
  cppcoreguidelines-avoid-const-or-ref-data-members,
  cppcoreguidelines-avoid-do-while,
  cppcoreguidelines-avoid-goto,
  cppcoreguidelines-avoid-non-const-global-variables,
  cppcoreguidelines-avoid-reference-coroutine-parameters,
  cppcoreguidelines-init-variables,
  cppcoreguidelines-interfaces-global-init,
  cppcoreguidelines-macro-usage,
  cppcoreguidelines-misleading-capture-default-by-value,
  cppcoreguidelines-missing-std-forward,
  cppcoreguidelines-no-malloc,
  cppcoreguidelines-no-suspend-with-lock,
  cppcoreguidelines-owning-memory,
  cppcoreguidelines-prefer-member-initializer,
  cppcoreguidelines-pro-*,
  cppcoreguidelines-rvalue-reference-param-not-moved,
  cppcoreguidelines-slicing,
  cppcoreguidelines-special-member-functions,
  cppcoreguidelines-use-enum-class,
  cppcoreguidelines-virtual-class-destructor,
  google-*,
  -google-objc-*,
  hicpp-exception-baseclass,
  hicpp-ignored-remove-result,
  hicpp-multiway-paths-covered,
  hicpp-no-assembler,
  hicpp-signed-bitwise,
  llvm-header-guard,
  llvm-include-order,
  misc-*,
  modernize-*,
  performance-*,
  portability-*,
  readability-*,

  -cert-err58-cpp,
  -concurrency-mt-unsafe,
  -cppcoreguidelines-avoid-magic-numbers,
  -google-explicit-constructor,
  -hicpp-explicit-conversions,
  -llvm-namespace-comment,
  -misc-non-private-member-variables-in-classes,
  -modernize-use-nodiscard,
  -modernize-use-trailing-return-type,
  -performance-faster-string-find,
  -performance-unnecessary-value-param,
  -portability-restrict-system-includes,
  -readability-braces-around-statements,
  -readability-identifier-length,
  -readability-function-size,
  -readability-redundant-member-init,

# Based on Google's naming style.
CheckOptions:
  # Non-existent in clang-tidy 20.1.8.
  modernize-use-trailing-return-type.TransformFunctions: false

  readability-identifier-naming.NamespaceCase: lower_case
  readability-identifier-naming.ClassCase: CamelCase
  readability-identifier-naming.StructCase: CamelCase
  readability-identifier-naming.TemplateParameterCase: CamelCase
  readability-identifier-naming.FunctionCase: CamelCase
  readability-identifier-naming.VariableCase: lower_case
  readability-identifier-naming.PrivateMemberSuffix: _
  readability-identifier-naming.ProtectedMemberSuffix: _
  readability-identifier-naming.MacroDefinitionCase: UPPER_CASE
  readability-identifier-naming.EnumConstantCase: CamelCase
  readability-identifier-naming.EnumConstantPrefix: k
  readability-identifier-naming.ConstexprVariableCase: CamelCase
  readability-identifier-naming.ConstexprVariablePrefix: k
  readability-identifier-naming.GlobalConstantCase: CamelCase
  readability-identifier-naming.GlobalConstantPrefix: k

  # Not present in Google style guide but consistent.
  # Now of course we do avoid non-const global variables like the Plague.
  readability-identifier-naming.GlobalVariableCase: CamelCase
  readability-identifier-naming.GlobalVariablePrefix: g

  readability-identifier-naming.StaticConstantCase: CamelCase
  readability-identifier-naming.StaticConstantPrefix: k
