# SPDX-FileCopyrightText: 2025 Sofian-Hedi Krazini <blackma9ick@proton.me>
# SPDX-License-Identifier: 0BSD

[submodule "subprojects/udisks-sdbus-c++"]
	path = subprojects/udisks-sdbus-c++
	url = https://github.com/blackma9ick/udisks-sdbus-cpp
