# SPDX-FileCopyrightText: 2025 Sofian-Hedi Krazini <blackma9ick@proton.me>
# SPDX-License-Identifier: 0BSD

# Local files used for scanning D-Bus
data/

# Meson WrapDB packages
subprojects/**
!subprojects/argparse.wrap
!subprojects/spdlog.wrap
!subprojects/wrapdb.json
# ...except our own subprojects
!subprojects/udisks-sdbus-cpp
