# Local files used for scanning D-Bus
data/

# Meson WrapDB packages
subprojects/**
!subprojects/argparse.wrap
!subprojects/spdlog.wrap
!subprojects/wrapdb.json
# ...except our own subprojects
!subprojects/udisks-sdbus-c++
